#heading
{
  text-decoration: none;
	font-size: 22px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 3px;
  padding-left: 100px;
}

#nav-heading
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px;
}
#nav-heading1
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px;
}

.welcome-area {
	width: 100%;
	height: 500px;
	position: fixed;
	top: 50px;
	background-color:white;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.welcome-area h1 {
  
  font-size: 35px;
  font-family: poppins;
  text-transform:capitalize;
  padding-top: 25%;

}
.welcome-area .myname {
  
	font-size: 40px;
	font-family: monospace;
	text-transform:capitalize;
	color:#c54786;
	font-weight: bolder;

  }
.welcome-area h5 {
  
  font-size: 30px;
  font-family:poppins;
  text-transform:capitalize;
  font-weight: bold;
}
.welcome-area button {
  
	font-size: 20px;
	font-family:poppins;
	text-transform:capitalize;
	font-weight: bold;
	
  }
  #resume a {
  

	font-family:poppins;
	text-transform:capitalize;
	font-weight: bold;

	
  }
.image{

	margin:auto;
	width:150%;
	border-radius:50%;
    align-items: center;
}
.section-heading 
{
	font-size: 26px;
	font-family: poppins;
	text-transform:uppercase;
	color:#c54786;
	font-weight: bolder;
	letter-spacing: 2px;
	
}

.section-subheading
{
	font-size: 18px;
	font-weight: 500;
	font-style: italic;
	font-family:'Times New Roman', Times, serif;
		
}

.aboutdesc
{
	font-size: 20px;
	font-family: poppins;
	text-transform:initial;
	font-weight:10px;

}

img{

	width:100%;
	height:60%;
	padding:15px;
	border-radius:50px;
}

.aboutdesc b{
	color:#c54786;
}

.p-heading{
	font-size: 20px;
	font-family: poppins;
	text-transform:capitalize;
	font-weight:bolder;
	color:#c54786;

}

.ps-heading{
	font-size: 18px;
	font-family: poppins;
	text-transform:capitalize;
	font-weight:bolder;
	text-align:center;
	
	
}

.c-heading{
	font-size: 16px;
	font-family: poppins;
	text-transform:capitalize;
	font-weight:bolder;
	text-align:center;
	
}
.btn-heading{
	font-size: 10px;
	font-family: poppins;
	text-transform:lowercase;
	text-align:center;
	
}

.portfolio-container{
     display:flex;
	 width:100%;
	 height:50%;
	 flex-wrap:wrap;
	 justify-content:space-evenly;
	 align-items:flex-start;

}

.portfolio-item{
	width:350px;
	height:400px;
	margin:10px;
	padding:2px;
	border:none
}

.contact-heading{
	font-size: 20px;
	font-family:'Times New Roman', Times, serif;
	font-weight:bolder;
	color:#c54786;
}
#about a:hover{

	color:#c54786;

}
#about h6{

	font-family: 'Times New Roman', Times, serif;
	font-weight:bolder;
	text-transform: capitalize;
	

}
.copyright
{
	font-size:15px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media screen and (max-width: 1075px)

{
  #heading
{
   text-decoration: none;
	font-size: 20px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 1px;
   padding-left: 20px;
}

.welcome-area {
	width: 100%;
	height: 200px;
	position: fixed;
	background-color:white;
    -webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.welcome-area h1 {
 
	font-size:14px;
	font-family: poppins;
	text-transform:capitalize;
	color:#c54786;

}
.welcome-area .myname {
  
	font-size: 18px;
	font-family: monospace;
	text-transform:capitalize;
	color:#c54786;
	font-weight: bolder;
}

.welcome-area h5 {

	font-size:14px;
	font-family: poppins;
    text-transform:capitalize;
    font-weight:bold;
}
.welcome-area button {
  
	font-size: 12px;
	font-family:poppins;
	text-transform:capitalize;
	font-weight: bold;
	
  }
  #resume a {
  

	font-family:poppins;
	text-transform:capitalize;
	font-weight: bold;

	
  }
.aboutdesc
{
	font-size: 17px;
	font-family: poppins;
	text-transform:initial;
	font-weight:10px;
	text-align: center;
	padding-right:40px

}
.image{
	margin:auto;
	width:50%;
    border-radius:50%;
    align-items: center;
}

.section-heading
{
	font-size: 25px;
	font-family:'Times New Roman', Times, serif;
	font-style: italic;
    font-weight: 500;
		
}
.aboutdesc b{
	color:#c54786;
}
.section-subheading
{
	font-size: 21px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 1px;
	
}
contact-heading{
	font-size: 15px;
	font-family:'Times New Roman', Times, serif;
	font-weight:bolder;
	color:#c54786;
}
#about a:hover{

	color:#c54786;

}
#about h6{
	
	font-family: 'Times New Roman', Times, serif;
	font-weight:bolder;
	text-transform: capitalize;
	

}
.copyright
{
	font-size:13px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
}
